.introduce-container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}
.introduce-container .introducetext-container{
    width: 60%;
    text-align:center;
}
.introducetext-container .text{
    margin: 16px 32px;
}
.introduce-container .imgs-container{
    width: 40%;
}
.color{
    color: #ECDBBA;
}
@media only screen and (max-width: 900px) {
    .introduce-container{
        height: 100%;
        flex-direction: column;
    }
    .introduce-container .introducetext-container{
        margin-bottom: 32px;
        width: 100%;
    }
    .introduce-container .imgs-container{
        width: 70%;
    }
  }

  @media only screen and (max-width: 550px) {
    .introducetext-container .text{
        font-size: 16px;
    }
    
  }