.whoami-container {
    margin-top: 20px;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    animation: fade 4s;
}
@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
.text-whoami,
.myimg-container {
    user-select: none;
    width: 50%;
}

.text-whoami h1,
p,
ul {
    font-weight: bold;
    font-style: oblique;
    margin: 16px 16px 16px 40px;
}

.text-whoami ul li {
    margin-left: 32px;
}

.kumkom {
    margin: 16px;
    color: #ECDBBA;
    text-align: center;
}

.myimg-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.myimg-container img {
    border: 3px solid #C84B31;
    filter: saturate(60%);
    border-radius: 15%;
    height: 70%;
    align-items: center;
    transition: 0.5s;
    
}

.myimg-container img:hover {
    border: 7px solid #C84B31;
    filter: saturate(100%);
    transform: scale(1, 1);
}

@media only screen and (max-width: 860px) {
    .whoami-container {
        flex-direction: column-reverse;
        margin-top: 60px;
    }
   
    .text-whoami{
        width: 100%;
        height: 70%;
    }
    .myimg-container {
        width: 100%;
        height: 30%;
    }
    .myimg-container img{
        height: 70%;
        filter: saturate(100%);

    }
    .myimg-container img:hover{
        border: 5px solid #C84B31;
        height: 80%;
    }
    .text-whoami h1,p,ul{
        text-align: center;
        margin: 8px;
    }
    .text-whoami li{
        text-align: center;
    }
}

@media only screen and (max-width: 615px) {
    br{
        display: none;
    }
}
@media only screen and (max-width: 390px) {
    .whoami-container{
        height: 100%;
    }
    .myimg-container img{
        margin-top: 30px;
        height: 200px;
    }
    .myimg-container img:hover{
        border: 5px solid #C84B31;
        height: 300px;

    }
    .text-whoami h1,p,ul{
        margin: 0;
    }
    .text-whoami ul li{
        margin: 6px;
    }
}